body {
    background-color: white;
    color: black;
    font-family: arial;
}

p {
    font-size: 30px;
    font-weight: bold;
}

button {
    background-color: pink;
    color: black;
    width: 100px;
    height: 30px;
    position: absolute;
    border: none;
}

.hidden {
    display: none;
}

#move {
    left: 200px;
}

#change:hover {
    cursor: pointer;
}
